%fieldset
  %table.table.table-hover
    %tr
      %td{:colspan => "5"}
        = link_to "remove", '#', class: "remove_fields"
      %td    
        .control-group
          = f.label :name, class: "control-label"
          .controls
            = f.text_field :name
      %td
        .control-group
          = f.label :reps, class: "control-label"
          .controls
            = f.text_field :reps
      %td
        .control-group
          = f.label :sets, class: "control-label"
          .controls
            = f.text_field :sets
      %td
        .control-group
          = f.label :duration, class: "control-label"
          .controls
            = f.text_field :duration
      %td
        .control-group
          = f.label :distance, class: "control-label"
          .controls
            = f.text_field :distance
      