%fieldset
  %table.table.table-hover
    %tr
      %td{:colspan => "5"}
        = f.hidden_field :_destroy
        = link_to "remove", '#', class: "remove_fields"
      %td
        .control-group
          = f.label :activity_id, class: "control-label"
          .controls
            = f.collection_select(:name, Exercise.all, :name, :name, {}, {:class => 'exercise-select'})
      %td.reps
        .control-group
          = f.label :reps, class: "control-label"
          .controls
            = f.text_field :reps
      %td.sets
        .control-group
          = f.label :sets, class: "control-label"
          .controls
            = f.text_field :sets
      %td.duration
        .control-group
          = f.label :duration, class: "control-label"
          .controls
            = f.text_field :duration
      %td.distance
        .control-group
          = f.label :distance, class: "control-label"
          .controls
            = f.text_field :distance
      %td.weight
        .control-group
          = f.label :weight, class: "control-label"
          .controls
            = f.text_field :weight
      