%h1 Listing workouts
#distribution_chart_div.pull-right

%table
  %tr
    %th
      Date
    %th
    %th
    %th

  - @workouts.each do |workout|
    %tr
      %td= link_to workout.date, user_workout_path(current_user, workout)
      %td= link_to 'Show', user_workout_path(current_user, workout)
      %td= link_to 'Edit', edit_user_workout_path(current_user, workout), rel: "edit-workout-link"
      %td= link_to 'Destroy', user_workout_path(current_user, workout), :method => :delete, :data => { :confirm => 'Are you sure?' }, rel: "delete-workout-link"

%br

= link_to 'New Workout', new_user_workout_path, rel: 'new-workout-link'

%p.clear

#strength_chart_div

#endurance_chart_div

%br/
%br/
%br/
%br/