%p#notice= notice

%p
  = @workout.date
%P
  %table.table.table-hover
    - @workout.exercises.each do |exercise|
      = render partial: 'workouts/exercise', locals: {e: exercise}

= link_to 'Edit', edit_user_workout_path(current_user, @workout)
\|
= link_to 'Back', user_workouts_path
