%p#notice= notice

%p
  = @workout.date
%P
  %table.table.table-hover
    %tr
      %td
        Exercise Name
      %td
        Sets
      %td
        Reps
      %td
        Duration
      %td
        Distance
    - @workout.exercises.each do |exercise|
      %tr
        %td 
          = exercises.name
        %td
          = exercises.sets
        %td
          = exercises.reps
        %td
          = exercises.duration
        %td
          = exercises.distance

= link_to 'Edit', edit_user_workout_path(current_user, @workout)
\|
= link_to 'Back', user_workouts_path
