%p#notice= notice

%p
  = @workout.date
%P
  = @workout.activities.each do |activity|
    =activity.name
    =activity.reps
    =activity.sets

= link_to 'Edit', edit_user_workout_path(current_user, @workout)
\|
= link_to 'Back', user_workouts_path
