#accordion.panel-group
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse#{competition.id}"}
          = competition.name
          = link_to "Withdraw", @subscription, method: :delete, class: "btn btn-xs btn-default pull-right"
    .panel-collapse.collapse{id: "collapse#{competition.id}"}
      .panel-body
        %ul         
          %li
            %table{class: "table table-hover", style: "width: 600px;"}
              -competition.competition_exercises.each do |comp_exercise|
                %tr
                  %th
                    = comp_exercise.exercise_type.name
                    - comp_exercise.metrics.each do |metric|              
                      %th
                        = metric 
                  %th
                    XP
                %tr
                  %td
                  - comp_exercise.metrics.each do |metric|
                    %td
                      = current_user.get_competition_total_for(competition, comp_exercise.exercise_type, metric)
                  %td
                    = current_user.get_competition_total_for(competition, comp_exercise.exercise_type, :total_xp)
