%table{class: "table table-hover"}
  %tr
    %th
      Name
    %th
      Start Date
    %th 
      End Date
    %th
      Difficulty Level
  %tr
    %td
      = competition.name
    %td
      = competition.start_date
    %td
      = competition.end_date
    %td
      = competition.level
  %tr
    %td 
      Exercise
    %td 
      Total XP
  -competition.competition_exercises.each do |comp_exercise|
    %tr
      %td
        = comp_exercise.exercise_type.name  
      %td
        = current_user.get_competition_total(competition, comp_exercise.exercise_type)
= link_to "Withdraw", @subscription, method: :delete, class: "btn btn-lg btn-primary"
