= form_for @competition do |f|
  - if @competition.errors.any?
    #error_explanation
      %h2= "#{pluralize(@competition.errors.count, "error")} prohibited this competition from being saved:"
      %ul
        - @competition.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    .controls
      = label :individual, "Individuals"
      = f.radio_button :individual, true, :checked => true 
      = label :team, "Team"
      = f.radio_button :individual, false

  .control-group
    = f.label :name, "Competition Name", class: "control-label"
    .controls
      = f.text_field :name

  .control-group
    = f.label :competition_type_id, "Victory Condition", class: "control-label"
    .controls
      = f.collection_select(:competition_type_id, CompetitionType.all, :id, :name)

  .control-group
    = f.label :end_date, class: "control-label"
    .controls
      = f.text_field :end_date, class: "datepicker"

  .control-group
    = f.label :max_participants, class: "control-label"
    .controls
      = f.number_field :max_participants

  .control-group
    .controls
      = label :is_public, "Public"
      = f.radio_button :is_private, false, checked: true
      = label :is_private, "Private"
      = f.radio_button :is_private, true, checked: false
  
  %h2 Exercises for this competition
  .control-group
    .controls
    = link_to_add_fields "Add Exercise", f, :competition_exercises
    = f.fields_for :competition_exercises do |builder|
      = render 'competition_exercise_fields', f: builder
      
      
  .actions
    = f.submit 'Save', class: 'btn btn-success', rel: 'save-competition-link'
