= form_for @competition do |f|
  - if @competition.errors.any?
    #error_explanation
      %h2= "#{pluralize(@competition.errors.count, "error")} prohibited this competition from being saved:"
      %ul
        - @competition.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :name, class: "control-label"
    .controls
      = f.text_field :name

  .control-group
    = f.label :start_date, class: "control-label"
    .controls
      = f.text_field :start_date, class: "datepicker"

  .control-group
    = f.label :end_date, class: "control-label"
    .controls
      = f.text_field :end_date, class: "datepicker"

  .control-group
    = f.label :max_participants, class: "control-label"
    .controls
      = f.number_field :max_participants

  .control-group
    = f.label :difficulty_id, class: "control-label"
    .controls
      = f.collection_select(:difficulty_id, Difficulty.all, :id, :level)
      
  .control-group
    = f.label :end_condition_id, class: "control-label"
    .controls
      = f.collection_select(:end_condition_id, EndCondition.all, :id, :description)

  .control-group
    = f.label :is_private, "Private", class: "control-label"
    .controls
      = f.check_box :is_private

  .control-group
    .controls
      = label :individual, "Individual"
      = f.radio_button :individual, true, :checked => true 
      = label :team, "Team"
      = f.radio_button :individual, false
      
  .actions
    = f.submit 'Save', class: 'btn btn-success', rel: 'save-competition-link'
