%h1 Listing competitions

%table
  %tr
    %th Name
    %th Start date
    %th End date
    %th Max participants
    %th Difficulty
    %th Private
    %th
    %th
    %th

  - @competitions.each do |competition|
    %tr
      %td= competition.name
      %td= competition.start_date
      %td= competition.end_date
      %td= competition.max_participants
      %td= competition.level
      %td= competition.is_private
      %td= link_to 'Show', competition, rel: 'show-competiton-link'
      %td= link_to 'Edit', edit_competition_path(competition), rel: 'edit-competiton-link'
      %td= link_to 'Destroy', competition, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Competition', new_competition_path, rel: 'new-competition-link'
