%h1 Listing competitions
= link_to 'New Competition', new_competition_path, class: "btn btn-lg btn-primary", rel: 'new-competition-link'
%hr
.row
  .col-md-10
    %table.table.table-condensed.table-bordered
      %tr
        %th Name
        %th Win Condition
        %th Start date
        %th End date
        %th Registered Participants
        %th Max participants
        %th Difficulty
        %th Private

      - @competitions.each do |competition|
        %tr
          %td= link_to competition.name, competition
          %td= competition.competition_type.name
          %td= competition.start_date
          %td= competition.end_date
          %td= competition.users.count
          %td= competition.max_participants
          %td= competition.level
          %td= competition.public
    %br

  .col-md-2
    
