%p#notice= notice

%p
  %b Name:
  = @competition.name
%p
  %b Start date:
  = show_date(@competition.start_date)
%p
  %b End date:
  = show_date(@competition.end_date)
%p
  %b Max participants:
  = @competition.max_participants
%p
  %b Difficulty:
  = @competition.level
%p
  %b Private:
  = @competition.is_private

%p
  %b Participants Registered
  - @competition.users.each do |user|
    %p  
      = user.email
%p
  %b Exercises for this Competition
  - @competition.competition_exercises.each do |exercise|
    %p  
      = exercise.exercise_type.name

- if @competition.registered?(current_user)
  = link_to "Unregister", @subscription, method: :delete, class: "btn btn-lg btn-primary"
-else
  = form_for @subscription do |f|
    = f.hidden_field :user_id, value: current_user.id
    = f.hidden_field :competition_id, value: @competition.id
    .actions
      = f.submit "Register", class: "btn btn-lg btn-primary"

- if @competition.creator == current_user
  = link_to 'Edit', edit_competition_path(@competition), rel: 'show-competiton-link'
  = link_to 'Delete', competition_path(@competition), method: :delete, confirm: "You Sure?", rel: 'delete-competiton-link'
= link_to 'Back', competitions_path

%h2
  Add Exercises to this competition
.control-group
  = form_for @competition.competition_exercises.new do |f|
    = f.hidden_field :competition_id, value: @competition.id
    .control-group
      = f.label :exercise_type_id, class: "control-label"
      .controls
        = f.collection_select(:exercise_type_id, ExerciseType.all, :id, :name, {}, {:class => 'exercise-select'})
    .actions
    = f.submit "Add Exercise", class: "btn btn-lg btn-primary"

