%p#notice= notice

%p
  %b Name:
  = @competition.name
%p
  %b Start date:
  = @competition.start_date
%p
  %b End date:
  = @competition.end_date
%p
  %b Max participants:
  = @competition.max_participants
%p
  %b Difficulty:
  = @competition.level
%p
  %b Private:
  = @competition.is_private

%p
  %b Currently Registered
- @competition.users.each do |user|
  %p  
    = user.email

= form_for CompetitionSubscription.new do |f|
  = f.hidden_field :user_id, value: current_user.id
  = f.hidden_field :competition_id, value: @competition.id
  .actions
    = f.submit "Register", class: "btn btn-lg btn-primary"


= link_to 'Edit', edit_competition_path(@competition)
\|
= link_to 'Back', competitions_path
