.row
  .col-md-3
    %h1 
      = @competition.name
  .col-md-6
    %h1
      Competition Type:
      = @competition.type
%hr/
- if @competition.team?
  -@competition.teams.each do |team|
    %p
      Team
      = team.id
    %p
      -if @competition.registered?(current_user)
        -if @subscription.team == team
          = link_to "Leave This Team", @subscription, method: :delete, class: "btn btn-lg btn-primary"
      -else
        = form_for @subscription do |f|
          = f.hidden_field :competition_id, value: @competition.id
          = f.hidden_field :user_id, value: current_user.id
          = f.hidden_field :team_id, value: team.id
          .actions
            = f.submit "Join This Team", class: "btn btn-lg btn-primary"
    %ul
      - team.users.each do |user|
        %li
          = user.index_name

-else
  - if @competition.registered?(current_user)
    = link_to "Admit Defeat", @subscription, method: :delete, class: "btn btn-lg btn-primary"
  -else
    = form_for @subscription do |f|
      = f.hidden_field :user_id, value: current_user.id
      = f.hidden_field :competition_id, value: @competition.id
      .actions
        = f.submit "Register", class: "btn btn-lg btn-primary"
.row
  .col-md-4 
    %h3
      Competition Status:
      - if @competition.active?
        active 
      - else
        inactive
    %p
      %span
        %b Start Date:   
        = show_date(@competition.start_date)
    %p
      %span
        %b End Date:
        = show_date(@competition.end_date)
    %p
      %span
        %b Max Participants:
        = @competition.max_participants
    %p
      %span
        %b Difficulty:
        = @competition.level
    %p
      %span
        %b Visibility:   
        -if  @competition.public?
          Public
        -else
          Private 
  .col-md-4 
    %h3 Exercises for this Competition
    %p
      .row
        .col-md-3 
          %ul
            - @competition.competition_exercises.each do |exercise|
              %li
                = exercise.exercise_type.name
                =# exercise.limit
                =# link_to "Remove from Competition", competition_competition_exercise_path(@competition, exercise), method: :delete, confirm: "You Sure?", rel: 'delete-competiton-exercise-link'   
      
%hr/
%h3 Rank
.row
  .col-md-8
    %ul
      - @competition.users_by_rank.each_with_index do |user, index|
        %li      
          = index+1 
          = user.name
          = user.total_xp_for_competition(@competition)


    - if @competition.creator == current_user
      = link_to 'Edit', edit_competition_path(@competition), class: "btn btn-lg btn-primary", rel: 'show-competiton-link'
      = link_to 'Delete', competition_path(@competition), method: :delete, confirm: "You Sure?", class: "btn btn-lg btn-primary", rel: 'delete-competiton-link'
    

