%fieldset
  %table.table.table-condensed
    %tr
      %td{:colspan => "5"}
        = f.hidden_field :_destroy
        = link_to "remove", '#', class: "remove_fields"
    %tr   
      %td
        .control-group
          = f.label :exercise_type_id, class: "control-label"
          .controls
            = f.collection_select(:exercise_type_id, ExerciseType.all, :id, :name, {}, {:class => 'exercise-select'})
    %tr        
      %td.reps
        .control-group
          = f.label :reps, class: "control-label"
          .controls
            = f.text_field :reps
    %tr
      %td.sets
        .control-group
          = f.label :sets, class: "control-label"
          .controls
            = f.text_field :sets
    %tr        
      %td.duration
        .control-group
          = f.label :duration, class: "control-label"
          .controls
            = f.text_field :duration
    %tr        
      %td.distance
        .control-group
          = f.label :distance, class: "control-label"
          .controls
            = f.text_field :distance
    %tr        
      %td.weight
        .control-group
          = f.label :weight, class: "control-label"
          .controls
            = f.text_field :weight
      