.tab-content
  #stats.tab-pane.active
    %h3 
      My Stats
    = form_tag nil do
      = select_tag :chart, options_from_collection_for_select(ExerciseType.all, 'id', 'name')  
    #statChart{style: "min-width: 310px; height: 400px; margin: 0 auto"}
  #teams.tab-pane
    %h3 
      My Teams
    %ul
      - @user.teams.each do |team|
        %li
          = link_to team.name, team_path(team)
  #exercises.tab-pane
    %h2 Exercises
    = link_to "<", {date: @date.prev_week, tab: 'exercises'}
    = exercise_date_range(@date)
    = link_to ">", {date: @date.next_week, tab: 'exercises'}
    %ul{id: "user_exercises"}
      - @user.exercises_by_date(@date).each do |exercise|
        = render exercise
      %table.table.table-condensed.table-bordered
        %tr
          - exercise_date_days(@date).each do |day|
            %th
              = format_date(day)
        %tr
          - exercise_date_days(@date).each do |day|
            %td
              %ul
                -unless @user.exercises_by_date(day).empty?
                  - @user.exercises_by_date(day).each do |exercise|
                    %li
                      = exercise.name

    %a.btn.btn-primary.btn-lg{"data-toggle" => "modal", href: "#exerciseModal"} Add Exercise
    = render partial: "exercises/form"
  #competitions.tab-pane 
    %h3 
      Competitions I've Won
    %p
      - @user.competitions_won.each do |comp|
        = link_to comp.name, competition_path(comp)

    %h2 
      Current Individual Competitions
    %p
      - @user.active_individual_competitions.each do |comp|
        = render comp
    .clearfix
    %h2 
      Current Team Competitions
    %p
      - @user.active_team_competitions.each do |team_comp|
        = render team_comp
  #challanges.tab-pane
    coming soon
  #settings.tab-pane
    = render 'users/edit'