.tab-content
  #exercises.tab-pane.active
    %h2 Exercises
    %hr
    %a.btn.btn-primary.btn-lg{"data-toggle" => "modal", href: "#exerciseModal"} Add Exercise
    = render partial: "exercises/form"
    %br
    %br
    .text-center
      = link_to "<", {date: @date.prev_week, tab: 'exercises'}
      = exercise_date_range(@date)
      = link_to ">", {date: @date.next_week, tab: 'exercises'}
    %ul{id: "user_exercises"}
      - @user.exercises_by_date(@date).each do |exercise|
        = render exercise
      %table.table.table-condensed.table-bordered
        %tr
          - exercise_date_days(@date).each do |day|
            %th
              = format_date(day)
        %tr
          - exercise_date_days(@date).each do |day|
            %td
              %ul
                -unless @user.exercises_by_date(day).empty?
                  - @user.exercises_by_date(day).each do |exercise|
                    %li
                      = exercise.name  
  #stats.tab-pane
    %h2 My Stats
    %hr
    %table.table.table-condensed.table-bordered

    = form_tag nil do
      = select_tag :chart, options_from_collection_for_select(ExerciseType.all, 'id', 'name')  
      = radio_button_tag :reps, value: "reps"
      = label_tag :reps
      = radio_button_tag :distance, value: "distance"
      = label_tag :distance
      = radio_button_tag :duration, value: "duration"
      = label_tag :duration
      = radio_button_tag :weight, value: "weight"
      = label_tag :weight
      = radio_button_tag :calories, value: "calories"
      = label_tag :calories
    #statChart{style: "min-width: 310px; height: 400px; margin: 0 auto"}  
  #competitions.tab-pane 
    %h2 My Competitions
    %hr
    %h4 Competition Wins
    %ul
      -if @user.competitions_won.empty?
        %li No competitions won yet
      -else
        - @user.competitions_won.each do |comp|
          %li
            = link_to comp.name, competition_path(comp)

    %h4 My Current Individual Competitions
    %ul
      -if @user.active_individual_competitions.empty?
        %li Not registered for any individual competitions
      -else
        - @user.active_individual_competitions.each do |comp|
          %li
            = render comp
    .clearfix
    %h4 My Current Team Competitions
    %ul
      -if @user.active_team_competitions.empty?
        %li Not registered for any team competitions
      -else
        - @user.active_team_competitions.each do |team_comp|
          %li
            = render team_comp
        
  #challanges.tab-pane
    %h2 My Challenges
    - if @user.challenges.any?    
      -@user.challenges.each do |challenge|
        %p
          = challenge.name
        %p
          -@user.challenge_attempts_by_challenge(challenge).each do |attempt|
            %p
              = attempt.formatted_completition_time
    - else
      %p.jumbotron
        You have not currently attempted any challenges. If you would like to attempt one now
        %a{href: "/challenges"}
          %button.btn.btn-default.btn-lg{type: "button"}
            %span.glyphicon.glyphicon-star
            Click Here
            %span.glyphicon.glyphicon-star
        or select "Challenges" from the navigation menu.
        
  #settings.tab-pane
    %h2 Settings
    = render 'users/edit'