%ul.navigation
  %li{"data-slide" => "1"} Profile
  %li{"data-slide" => "2"} Workouts
  %li{"data-slide" => "3"} Challenges
  %li{"data-slide" => "4"} Competition
  %li{"data-slide" => "5"} Settings
  %li= link_to "SignOut", destroy_user_session_path, method: :delete
#slide1.slide{"data-slide" => "1", "data-stellar-background-ratio" => "0.5"}
  .container
    .row
      .col-md-2
      .col-md-8 
        .t-background
          %h1 
            Profile for 
            = @user.email
          %p 
            Level:     
            = @user.level
          %p 
            Total Experience:     
            = @user.xp
          %p 
            Experience Needed for Levelup:     
            = @user.xp_for_levelup

      .col-md-2 
  %span.slideno Profile
  %a.button{"data-slide" => "2", :title => ""}
#slide2.slide{"data-slide" => "2", "data-stellar-background-ratio" => "0.5"}
  .container
    .row
      .col-md-2 
      .col-md-8
        .t-background
          %h1 Workouts Logged Today
          %ul
            - @workouts.each do |w|
              %li
                = w.id
            -if @workouts.empty?
              %li Go Log Some!

          #workoutNewModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
            .modal-dialog
              .modal-content
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                  %h4.modal-title Log a Workout
                .modal-body
                  %table.table.table-condensed
                    = form_for [@user, @workout] do |builder|
                      = builder.fields_for :exercises do |f|
                        %tr    
                          %td
                            .control-group
                              = f.label :exercise_type_id, class: "control-label"
                              .controls
                                = f.collection_select(:exercise_type_id, ExerciseType.all, :id, :name, {}, {:class => 'exercise-select'})
                        %tr        
                          %td.reps
                            .control-group
                              = f.label :reps, class: "control-label"
                              .controls
                                = f.text_field :reps
                        %tr        
                          %td.sets
                            .control-group
                              = f.label :sets, class: "control-label"
                              .controls
                                = f.text_field :sets
                        %tr        
                          %td.duration
                            .control-group
                              = f.label :duration, class: "control-label"
                              .controls
                                = f.text_field :duration
                        %tr
                          %td.distance
                            .control-group
                              = f.label :distance, class: "control-label"
                              .controls
                                = f.text_field :distance
                        %tr  
                          %td.weight
                            .control-group
                              = f.label :weight, class: "control-label"
                              .controls
                                = f.text_field :weight
                        %tr
                          %td
                            .modal-footer
                              %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
                              %button.btn.btn-primary{:type => "button"} Save changes
      .col-md-2
        %a.btn.btn-warning.btn-lg{"data-toggle" => "modal", :href => "#workoutNewModal"} Log Workout    
  = render 'static/blue_images'
  %span.slideno Workouts
  %a.button{"data-slide" => "3", :title => ""}
#slide3.slide{"data-slide" => "3", "data-stellar-background-ratio" => "0.5"}
  .container
    .row
      .col-md-2
      .col-md-8 
        .t-background
          %h1 Listing challenges
          %table
            %tr
              %th Name
              %th Reward
              %th Difficulty
              %th Challenge type
              %th
              %th
              %th

            - @challenges.each do |challenge|
              %tr
                %td= challenge.name
                %td= challenge.reward
                %td= challenge.difficulty_id
                %td= challenge.challenge_type_id
                %td= link_to 'Show', challenge
                %td= link_to 'Edit', edit_challenge_path(challenge)
                %td= link_to 'Destroy', challenge, :method => :delete, :data => { :confirm => 'Are you sure?' }
  %span.slideno Challenges
  %a.button{"data-slide" => "4", :title => ""}
#slide4.slide{"data-slide" => "4", "data-stellar-background-ratio" => "0.5"}
  .container
    .row
      .col-md-2
      .col-md-8
        %h1 Listing competitions

        %table
          %tr
            %th Name
            %th Start date
            %th End date
            %th Max participants
            %th Difficulty
            %th Private
            %th
            %th
            %th

          - @competitions.each do |competition|
            %tr
              %td= competition.name
              %td= competition.start_date
              %td= competition.end_date
              %td= competition.max_participants
              %td= competition.level
              %td= competition.is_private
              %td= link_to 'Show', competition, rel: 'show-competition-link'
              %td= link_to 'Edit', edit_competition_path(competition), rel: 'edit-competition-link'
              %td= link_to 'Destroy', competition, :method => :delete, :data => { :confirm => 'Are you sure?' }, rel: "delete-competition-link"
        #competitionNewModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog
            .modal-content
              .modal-header
                %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                %h4.modal-title Create a competition
              .modal-body
                %table.table.table-condensed
                  = form_for Competition.new do |f|
                    %tr    
                      %td
                        .control-group
                          = f.label :name, class: "control-label"
                          .controls
                            = f.text_field :name
                    %tr        
                      %td
                        .control-group
                          = f.label :start_date, class: "control-label"
                          .controls
                            = f.date_field :start_date
                    %tr        
                      %td
                        .control-group
                          = f.label :end_date, class: "control-label"
                          .controls
                            = f.date_field :end_date
                    %tr        
                      %td
                        .control-group
                          = f.label :max_participants, class: "control-label"
                          .controls
                            = f.text_field :max_participants
                    %tr  
                      %td
                        .control-group
                          = f.label :difficulty_id, class: "control-label"
                          .controls
                            = f.collection_select(:difficulty_id, Difficulty.all, :id, :level)
                    %tr
                      %td
                        .control-group
                          = f.label :is_private, class: "control-label"
                          .controls
                            = f.check_box :is_private
                    %tr
                      %td
                        .modal-footer
                          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
                          %button.btn.btn-primary{:type => "button"} Save changes
      .col-md-2 
        %a.btn.btn-warning.btn-lg{"data-toggle" => "modal", :href => "#competitionNewModal"} New competiton
  %span.slideno Competitions
  %span.parallaxbg Battle your friends for a supreme victory
  %a.button{"data-slide" => "5", :title => ""}
#slide5.slide{"data-slide" => "5", "data-stellar-background-ratio" => "0.5"}
  %span.slideno Settings
  .container