.row
  .col-md-8
    = render 'users/menu'
    = render 'users/tabs'
    
  .col-md-2
    %h2 
      Profile for 
      = @user.index_name
    %ul
      %li 
        Email
        %br
        = @user.email
      %li{id: "user_level"} 
        Level
        %br
        = @user.level
      %li{id: "user_xp"} 
        Total Experience
        %br
        = @user.xp
      %li{id: "user_levelup"} 
        Experience for next level  
        %br
        = @user.xp_for_levelup

    -if @user.friends.any?
      %h2
        Friends
      %ul
        -@user.friends.each do |friend|
          %li
            = friend.name



