%h1 
  Profile for 
  = @user.email
%p{id: "user_level"} 
  Level:     
  = @user.level
%p{id: "user_xp"} 
  Total Experience:     
  = @user.xp
%p{id: "user_levelup"} 
  Experience Needed for Level up:     
  = @user.xp_for_levelup
%h2 Exercises by Date
= link_to "<", date: @date.prev_day
= @date.strftime("%B %d %Y")
= link_to ">", date: @date.next_day
%ul{id: "user_exercises"}
  - @user.exercises_by_date(@date).each do |exercise|
    = render exercise

%h3 
  My Teams
%ul
  - @user.teams.each do |team|
    %li
      = link_to team.name, team_path(team)

%a.btn.btn-primary.btn-lg{"data-toggle" => "modal", href: "#exerciseModal"} Add Exercise
= render partial: "exercises/form"

%h2 Current Competitions
%div.col-md-8
  - @user.competitions.each do |comp|
    = render comp
