%ul.nav.nav-pills.nav-stacked
  %li
    = image_tag "placeholder.png", height: 80, width: 80
    = link_to "My Profile", user_path(current_user)
  %li
    = image_tag "placeholder.png", height: 80, width: 80
    = link_to "Teams", teams_path, rel: 'teams-link'
  %li
    = image_tag "placeholder.png", height: 80, width: 80
    = link_to "Competitions", competitions_path, rel: 'competitions-link'
  %li
    = image_tag "placeholder.png", height: 80, width: 80
    = link_to "Challenges", challenges_path, rel: 'challenges-link'    
  %li
    = image_tag "placeholder.png", height: 80, width: 80
    = link_to "Sign out", destroy_user_session_path, method: :delete, rel: 'logout-link'