/ Fixed navbar
.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Fortis", root_path, class: 'navbar-brand'
    .navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li.active
          = link_to "Home", root_path
        %li
          = link_to "Leaderboard", leaderboard_path
        %li
          = link_to "Competions", competitions_path
        -if user_signed_in?
          %li
            = link_to "My Profile", user_path(current_user)
          %li
            = link_to "My Workouts", user_workouts_path(current_user)
          %li
            = link_to "Log Workout", new_user_workout_path(current_user) 
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to "Suggestions", suggestions_path
        %li
          = link_to "Help", help_path
        -if user_signed_in? 
          %li.active
            = link_to "Sign out", destroy_user_session_path, method: :delete
        - else
          %li
            = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
          %li
            = link_to "Sign in", new_user_session_path