= image_tag("blur-ball.png", "data-stellar-ratio" => "3", "data-stellar-vertical-offset" => "-55", "alt" => "")
= image_tag("blur-ball-big.png", "data-stellar-ratio" => "1", "data-stellar-vertical-offset" => "-102", "alt" => "")
= image_tag("focus-ball.png", "data-stellar-ratio" => "1.5", "data-stellar-vertical-offset" => "-53", "alt" => "")
= image_tag("small-ball.png", "data-stellar-ratio" => "2.7", "data-stellar-vertical-offset" => "-25", "alt" => "")
= image_tag("blur-ball.png", "data-stellar-ratio" => "3", "data-stellar-vertical-offset" => "-55", "alt" => "")
= image_tag("blur-ball-big.png", "data-stellar-ratio" => "1", "data-stellar-vertical-offset" => "-102", "alt" => "")
= image_tag("focus-ball.png", "data-stellar-ratio" => "1.5", "data-stellar-vertical-offset" => "-53", "alt" => "")
= image_tag("small-ball.png", "data-stellar-ratio" => "2.7", "data-stellar-vertical-offset" => "-25", "alt" => "")