%p#notice= notice

%p
  %b Name:
  = @challenge.name
%p
  %b Reward:
  = @challenge.reward
%p
  %b Difficulty:
  = @challenge.difficulty_id
%p
  %b Challenge type:
  = @challenge.challenge_type_id

= link_to 'Edit', edit_challenge_path(@challenge)
\|
= link_to 'Back', challenges_path

= form_for @attempt do |f|
  = f.hidden_field :user_id, value: current_user.id
  = f.hidden_field :challenge_id, value: @challenge.id
  .actions
    = f.submit "Attempt this challenge", class: "btn btn-lg btn-primary"

- if @challenge.completed_by?(current_user) 
  %h3
    Completion Times
  %ul
    - @challenge.challenge_attempts.each do |attempt|
      %li
        = Time.at(attempt.completion_time).utc.strftime("%H:%M:%S")

