!!!
%html
  %head
    %title Workout Wars
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    -if controller_name == "static"
      = yield
      = render 'shared/footer'
    -else       
      .row
        .col-md-3 
          = render 'shared/navbar'
        .col-md-9 
          = render 'shared/flash'
          = yield
      = render 'shared/footer'